extends layout

block content
  .container
    h1 Juega #{g.currentRound.currentTurn.name}
    h2 Cartas del jugador:
    h3 Carta 1- #{g.currentRound.currentTurn.cards[0].number} de #{g.currentRound.currentTurn.cards[0].suit}
    h3 Carta 2- #{g.currentRound.currentTurn.cards[1].number} de #{g.currentRound.currentTurn.cards[1].suit}
    h3 Carta 3- #{g.currentRound.currentTurn.cards[2].number} de #{g.currentRound.currentTurn.cards[2].suit}
    h3 Puntos del envido: #{g.currentRound.currentTurn.envidoPoints}
    lead Seleccione una acción para jugar.
    br
    br
    form(role='form', action="/play",method="post")
     .form-group 
      input.form-control(type="hidden", name='gameid', value='#{g._id}')
      if g.currentRound.fsm.can('truco')
        input(type="submit", name="accion", value='Truco')
      if g.currentRound.fsm.can('envido')
        input(type="submit", name="accion", value='Envido')
      if g.currentRound.fsm.can('quiero')
        input(type="submit", name="accion", value='Quiero')
      if g.currentRound.fsm.can('no-quiero')
        input(type="submit", name="accion", value='No-quiero')
      if g.currentRound.fsm.can('playcard')
        if  (g.currentRound.currentTurn.cards[0] !== undefined)
            input(type="submit", name="accion", value='Jugar carta 1')
        if  (g.currentRound.currentTurn.cards[1] !== undefined)
            input(type="submit", name="accion", value='Jugar carta 2')
        if  (g.currentRound.currentTurn.cards[2] !== undefined)  
            input(type="submit", name="accion", value='Jugar carta 3')
      &nbsp;

